@font-face {
	font-family: 'Poppins-Regular';
    src: url('./fonts/Poppins/Poppins-Regular.ttf'); 
}
@font-face {
	font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins/Poppins-Bold.ttf'); 
}
@font-face {
	font-family: 'Poppins-ExtraBold';
    src: url('./fonts/Poppins/Poppins-ExtraBold.ttf'); 
}
body {
  margin: 0;
  font-family: 'Poppins-Regular', Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
