.page-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 18vw;
    height: 30vh;
    padding: 30px;
   }
   .page-links img {
       height: 4vh;
       width: 2vw;
   }
   .page-links a:hover, .page-links a:active, .active-bottom-nav {
       border: solid 1px black;
       padding: 5px;
   }
   @media only screen and (max-width : 800px) {
    .page-links {
        display: none;
        width: 60vw;
        align-items: center;
    } 
    .page-links img {
        width: 5vw;
    }
   }
   @media only screen and (max-width : 357px) {
    .page-links img {
        width: 10vw;
    }
   }