@font-face {
	font-family: 'Poppins-Regular';
    src: url('../../fonts/Poppins/Poppins-Regular.ttf'); 
}
header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}
header img {
    padding: 10px;
    height: 6vh;
    width: 3vw;
}
.apple-logo {
    width: 5vw;
    background-color: black;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
    padding-right: 40px;
    font-size: 17px;
}
a {
    text-decoration: none;
    font-family: 'Poppins-Regular', Helvetica;
    color: rgba(83, 83, 83, 0.603);
}
a:hover, a:active, .navbar__link--active {
    color: black;
    font-weight: bold;
}
nav button {
    height: 5vh;
    width: 9vw;
    background-color: rgba(67, 202, 255, 0.979);
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    border: solid 2px rgba(67, 202, 255, 0.979);
}
.nav-shrink {
    display: none;
}
.dropdown {
    display: none;
}
.drop-down {
    display: none;
}
@media only screen and (max-width : 800px) {
    .nav-shrink {
        display: block;
        background-color: transparent;
        border: none; 
    }
    /* header img {
        width: 6vw;
    } */
    .apple-logo {
        width: 10vw;
    }
    .apple-logo img {
        width: 6vw;
    }
    .nav-shrink img {
        height: 9vh;
        width: 8vw;
    }
    nav {
        display: none;
    }
    .drop-down {
        width: 250px;
        height: 51vh;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 1px;
        top: 90px;
        display: block;
    }
    .drop-down ul {
        list-style: none;
    }
    .drop-down a {
        color: rgba(83, 83, 83, 0.603);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .drop-down a:hover {
        color: black;
    }
    .drop-down button {
        color: rgba(83, 83, 83, 0.603);
        border: none;
        padding: 12px 16px;
        font-size: 17px; 
        cursor: pointer;
        height: 9vh;
        font-family: 'Poppins-Regular', Helvetica;
        background-color: transparent;
    }
    .drop-down button:hover {
        color: black;
        font-weight: bold;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
}
@media only screen and (max-width : 500px) {
    .nav-shrink img  {
       width: 15vw;
    }
    .apple-logo {
        width: 15vw;
    }
    .apple-logo img {
        width: 9vw;
    }
}